<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>list.html</title>
</head>
<body>
	<h2>게시글 목록</h2>
	<a th:href="@{/board/insert}">게시글 등록</a>
	<table border="1">
		<tr>
			<th>BOARD_NO</th>
			<th>TITLE</th>
			<th>CONTENT</th>
			<th>WRITER</th>
			<th>WRITE_DATE</th>
			<th>CLICK_CNT</th>
		</tr>
		<tr th:each="board : ${boardList}">
			<td th:text="${board.boardNo}"></td>
			<td th:text="${board.title}"></td>
			<td th:text="${board.content}"></td>
			<td th:text="${board.writer}"></td>
			<td th:text="${board.writeDate}"></td>
			<td th:text="${board.clickCnt}"></td>
			
		</tr>
	</table>
</body>
</html>