<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>replyMng.html(CRUD)</title>


<script onload="defer">
	// 페이지 로드하자 마자 함수 호출
	listReq();

	// 리스트 요청
	function listReq() {
		fetch('/reply/list')
		.then(res => res.json())
		.then(res => {
			console.log(res);
			listRes(res);
		})		
	}
	
	// 리스트 응답
	function listRes(res) {
		console.log(res)
		res.forEach((item, idx) => {
			
			let newTag = 
				`<tr>
					<td>${idx+1}</td>
					<td>${item.bno}</td>
					<td>${item.rno}</td>
					<td>${item.reply}</td>
					<td>${item.replyer}</td>
					<td>${item.replyDate}</td>
					<td>${item.updateDate}</td>
					<td>
						<button>수정</button>
						<button>삭제</button>
					</td>
					<td>
						<button type="button" onclick="move(${item.rno})">조회</button>
					</td>
				</tr>`;
				
			replyList.innerHTML += newTag;
		})
	}

	
</script>


</head>
<body>
<div layout:fragment="content">
	<h3>댓글목록조회</h3>
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>No.</th>
						<th>bno</th>
						<th>rno</th>
						<th>reply</th>
						<th>replyer</th>
						<th>replyDate</th>
						<th>updateDate</th>
						<th>수정/삭제</th>
					</tr>
				</thead>
				<tbody id="replyList">
									
				</tbody>
			</table>
		</div>
	
	<!-- 
	<h3>사원(등록, 조회)</h3>
	<form method="post" name="frm">
		lastName<input name="lastName">
		hireDate<input name="hireDate">
		jobId<select name="jobId">
			<option value="IT_PROG">Programmer</option>
			<option value="ST_MAN">Stock Manager</option>
		</select>
		이메일<input name="email">
		<button type="button" onclick="saveReq()">등록</button>
	</form>
	 -->
	
	

</div>
</body>
</html>