<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:object="${emp}">
	<h3>사원정보</h3>
		<div>
			<span>사번</span>
			<span th:text="*{employeeId}"></span>
		</div>
		<div>
			<span>이름</span>
			<span th:text="|*{firstName} *{lastName}|"></span>
		</div>
		<div>
			<span>이메일</span>
			<span th:text="*{email}"></span>
		</div>
		<div>
			<span>직책</span>
			<span th:text="*{jobId}"></span>
		</div>
	</div>
</body>
</html>